<form action="/new" method="POST">
    <h2>Message Form</h2>
    <input type="text" name="author" placeholder="name">
    <input type="text" name="subject" placeholder="subject">
    <textarea type="text" name="usermessage" placeholder="enter your message" rows="5" cols="30"></textarea>
    <button type="submit">Submit</button>
</form>